{% extends "mobile_base.html" %}

{% load staticfiles %}

{% block title %}
票务信息 - 清华紫荆之声
{% endblock %}

{% block css %}
<link href="{% static 'lib/bs/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/ticket.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
    <script src="{% static 'js/ticket.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">“{{ act_name }}”电子票</h3>
			</div>
			<div class="panel-body">
				{% include 'activityphoto.html' %}
				<p>电子票状态：
                    {% if ticket_status == 0 %}
                        <span class="status-size ticket-invalid emphasize">无效</span>
                    {% elif ticket_status == 1 %}
                        <span class="status-size ticket-valid emphasize">未使用</span>
                    {% elif ticket_status == 2 %}
                        <span class="status-size ticket-used emphasize">已使用</span>
                    {% elif ticket_status == 3 %}
                        <span class="status-size ticket-used emphasize">活动已结束</span>
                    {% else %}
                    {% endif %}
                </p>
				<p>活动地点：<b>{{ act_place }}</b></p>
				<p>座位信息：
                    {% if ticket_status > 0 %}
                        {% if ticket_seat == '' %}
                            <a class="clickToSelect" href="{{ ticket_url }}"> >>>您还没有选座位哦～请点击进行选座 <<< </a>
                        {% else %}
                            {% if ticket_seat == 'B' %}
                                    <span class="status-size ticket-used">您的座位在B区 请从二楼北侧进入</span>
                            {% elif ticket_seat == 'C' %}
                                    <span class="status-size ticket-used">您的座位在C区 请从二楼南侧进入</span>
                            {% else %}
                                    <span class="status-size ticket-used">您的座位在{{ ticket_seat }}</span>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </p>
				<p>活动开始时间：<b>{{ act_begin_time|date:"Y年m月d日 H:i" }}</b></p>
				<p>活动结束时间：<b>{{ act_end_time|date:"Y年m月d日 H:i" }}</b></p>
                {% if ticket_status == 1 %}
				    <p>说明：<br/>
                        活动开始前45分钟凭本电子票入场<br/>
                        回复<span class="emphasize">“退票 {{ act_key }}”</span>即可退票</p>
                {% endif %}

				<a class="btn btn-default btn-block" href="{{href}}" >返回个人中心</a>
			</div>
    </div>

{% endblock %}
