<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{% static "css/seats.css" %}" rel="stylesheet" type="text/css" />
    <title>{% block title %}清华紫荆之声——最优秀的校园服务助手{% endblock %}</title>
</head>
<body>
	<div class="seatHeader">
		<div class="act_info">
			<div class="act_title"> {{ act_title }} </div>
			<div class="act_place"> {{ act_place }} </div>
			<div class="act_time"> {{ act_time }} </div>
            <div class-"act_time">{{ act_begin_time|date:"Y年m月d日 H:i"}}</div>
		</div>
		<button id="submit_btn" disabled="disabled">OK</button>
	</div>
	<div class="clear_float"></div>
	<hr>

	<div id="alert">请选择您的座位</div>
	<p id="showSelection">您选择的座位为第<span class="num" id="row"></span>行第<span class="num" id="column"></span>列</p>
	<p id="showNumToSelect">您还需选择<span class="num" id="num">2</span>个座位</p>
	<div class="seatsTable" align="center">
		<table>
			<tr>
				<td class="valid"></td>
				<td>可选</td>
				<td class="selected"></td>
				<td>已售</td>
				<td class="selectThis"></td>
				<td>已选</td>
			</tr>
		</table>
		<div class="screen">舞台方向</div>
		<div id="tableContainer">
			<div id="moveableDiv">
				<table id="selectSeat">
					{% for line in seats_list %}
						<tr>
							{% for seat in line %}
								{% ifequal seat 0 %}
									<td class="empty" id="{{ forloop.parentloop.counter }}-{{ forloop.counter }}"></td>
								{% endifequal %}
								{% ifequal seat 1 %}
									<td class="valid" id="{{ forloop.parentloop.counter }}-{{ forloop.counter }}"></td>
								{% endifequal %}
								{% ifequal seat 2 %}
									<td class="selected" id="{{ forloop.parentloop.counter }}-{{ forloop.counter }}"></td>
								{% endifequal %}
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>

	<form role="form" method="post" id="submitForm">
		<input id="input" type="text" name="postSelect" style="display:none"/>
		<input id="ticketID" type="text" name="ticketID" style="display:none" value="{{ ticket_id }}" />
	</form>
    
    <script src="{% static 'lib/jq/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'lib/touch/touch.min.js' %}"></script>
    {% if ticket_type == 's' %}
        <script src="{% static 'js/single_seat.js' %}"></script>
    {% else %}
        <script src="{% static 'js/double_seats.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/seat_general.js' %}"></script>
</body>
<html>
