<html>
{% load staticfiles %}
<head>
	<title>紫荆之声-抢票选座</title>
	<link href="{% static "css/seats_zongti.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
	<script>
		var width = document.documentElement.clientWidth;//屏幕宽度高度
		var height = document.documentElement.clientHeight;
		var windowWidth = window.outerWidth;
	</script>
    <div id="front">
       	<img src="{% static "img/seats_zongti/seat/wutai.png" %}" id = "frontPic">
    </div>
	<div id = "Zongti">
		<img src = "{% static "img/seats_zongti/seat/block_B.png" %}" id = "block_B" />
        <img src = "{% static "img/seats_zongti/seat/block_A.png" %}" id = "block_A" />
        <img src = "{% static "img/seats_zongti/seat/block_C.png" %}" id = "block_C" />
        <img src = "{% static "img/seats_zongti/seat/block_Friend.png" %}" id = "Friend_block" />
        <img src = "{% static "img/seats_zongti/seat/block_D.png" %}" id = "block_D" />
        <img src = "{% static "img/seats_zongti/seat/block_E.png" %}" id = "block_E" />
	</div>

	<div id = "info_Area">
		<div id = "item">
			<ul>
				<li>接受订票时间：</li>
				<li>当前活动状态：</li>
				<li>您已选择的座位为：</li>
				<li>该区还剩票数：</li>
			</ul>
		</div>
		<div id = "info">
			<ul>
				<li id = "book_time">起</li>
				<li id = "ticket_state">可选座/可订票</li>
				<li id = "seat_info">无</li>
				<li id = "avaiNumber">-</li>
			</ul>
		</div>
	</div>
	<form role="form" action="{% url "userpage.views.views_seats_zongti_post" %}" method="post" id="submitForm">
		<input id="section" type="text" name="section" style="display:none"/>
		<input id="ticketID" type="text" name="ticket_id" style="display:none" value="{{ ticket_id }}" />
		<input id="ticket_type" type="text" name="ticket_type" style="display:none">
		<button id="submitButton" type="button" onclick="submitChoice();">确定</button>
	</form>
	<!--
	<div id = "bottom">
		<div id = "save">
			<a>保存预选座位信息</a>
		</div>
		<div id = "submit">
			<a>提交购票订单</a>
		</div>
	</div>
	-->

	<script>
		var ticket_id = "{{ ticket_id }}";
		var book_time = "{{ book_time }}";
		var ticket_left_string = "{{ ticket_left }}";
        var temp = ticket_left_string.replace(/&#39;/g, "'");
        var ticketLeft = eval("("+temp+")");
        var ticketType = "{{ ticket_type }}"

		/*
		ticketLeft.A = 5;
		ticketLeft.B = 6;
		ticketLeft.C = 7;
		ticketLeft.D = 10;
		ticketLeft.E = 11;
		*/


	</script>
	<script src="{% static "lib/jq/jquery-1.10.2.min.js" %}"></script>
	<script src="{% static "lib/jq/jquery.form.min.js" %}"></script>
    <script src="{% static "js/seats_zongti.js" %}"></script>
</body>
</html>
