<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link href="{% static 'lib/bs/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'lib/jq/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'lib/bs/js/bootstrap.min.js' %}"></script>
    {% block css %}
    {% endblock %}
    <title>个人中心</title>
    <style>
    .nav-col {
    	text-align:center;
	}
	.nav-col ul {
    	display:inline-block;
    	width: 100%;
	}
	.nav-col li {
   		float:left;
   		width: 25%;
	}
	.nav-pills>li>a {
	border-radius: 0;
	padding: 10px;
	}
	.nav-pills>li+li {
	margin-left: 0;
	}
	hr {
		margin-top:10px;
		margin-bottom: 10px;
	}
	#footer {
		text-align: center;
	}
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="nav-col">
        <ul class="nav nav-pills" >
            <li id="nav_account">
                <a href="../uc_account/{{ weixin_id }}">账户管理</a>
            </li>
            <li class="active" id="nav_ticket">
                <a href="../uc_ticket/{{ weixin_id }}">票务管理</a>
            </li>
            <li id="nav_2ticket">
                <a href="../uc_2ticket/{{ weixin_id }}">双人抢票</a>
            </li>
            <li id="nav_token">
                <a href="../uc_token/{{ weixin_id }}">微信令牌</a>
            </li>
        </ul>
        </div>
    </div>
    <hr />
    <div class="row" id="mainbody">
        <div class="col-xs-12">
        {% block content %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        <footer id="footer">
        <hr />
        共青团清华大学委员会<br/>
        &copy; 2013
        </footer>
        </div>
    </div>
    {% block js %}
    {% endblock %}
</div>
</body>
</html>