{% extends "usercenter_base.html" %}

{% load staticfiles %}

{% block content %}
{% if isValidated %}
<script>
    $.post(window.location.pathname,
        {
            openid: "{{ weixin_id }}"
        },
        function(data, status) {
            //if (status == "success") {
                $("#token-holder").val(data.token);
            //} else {
            //    $("#token-holder").val("Error token! Please refresh.");
            //}
        });
</script>
<div class="input-group">
     <span class="input-group-addon">指令：</span>
     <input type="text" id="token-holder" class="form-control" value="token" disabled>
</div>
{% else %}
    <p style="text-align: center; font-weight: bold;">请先绑定账户</p>
{% endif %}
{% endblock %}

{% block js %}
    <script>
    $(document).ready(function() {
        $("li.active").toggleClass("active");
        $("li#nav_token").addClass("active");
    });
    </script>
{% endblock %}