{% extends "usercenter_base.html" %}

{% load staticfiles %}

{% block content %}
{% if isValidated %}
<div class="input-group">
    <span class="input-group-addon">令牌：</span>
    <input type="text" id="token-holder" class="form-control" placeholder="令牌加载中..." disabled>
</div>
{% else %}
    <p style="text-align: center; font-weight: bold;">请先绑定账户</p>
{% endif %}
{% endblock %}

{% block js %}
    <script>
    function ajax_token() {
        $.post("",
        {
            openid: "{{ weixin_id }}"
        },
        function(data, status) {
            if (status == "success") {
                $("#token-holder").val(data.token);
            } else {
                $("#token-holder").val("令牌加载失败，请刷新重试");
            }
        });
    }
    $(document).ready(function() {
        $("li.active").toggleClass("active");
        $("li#nav_token").addClass("active");
        ajax_token();
        setInterval(ajax_token, 10000);
    });
    </script>
{% endblock %}
