{% extends "usercenter_base.html" %}

{% load staticfiles %}

{% block content %}
{% if isValidated %}
	{% if tickets %}
		{% for ticket in tickets %}
		<script type="text/javascript">
		function ajax_ticketURL() {
            $.post("",
            {
                ticket_uid: "{{ ticket.unique_id }}",
            },
            function(data, status){
                if (status == "success") {
                    $('#a{{ ticket.unique_id }}').attr("href", data.ticketURL);
                    $('#seat{{ ticket.unique_id }}').attr("href", data.seatURL);
                }
            });
        }
		$( document ).ready( function() {
			$( '#btn{{ ticket.unique_id }}' ).click( function() {
				 $.post("",
				 {
				    ticket_id:"{{ ticket.unique_id }}",
				 },
				 function(data,status){
				   $( '#div{{ ticket.unique_id }}' ).hide();
				 });
			});
			ajax_ticketURL();
		});
		</script>
		<div class="panel panel-default" id="div{{ ticket.unique_id }}">
			<div class="panel-heading">
				<h3 class="panel-title">活动名称：<a id="a{{ ticket.unique_id }}" style="color:#428bca">{{ ticket.activity.name }}&nbsp;<span class="glyphicon glyphicon-exclamation-sign"></span></a></h3>
			</div>
			<div class="panel-body">
				<p>活动地点：{{ ticket.activity.place }}</p>
				<p>活动开始时间：{{ ticket.activity.start_time }}</p>
				<p>活动结束时间：{{ ticket.activity.end_time }}</p>
				{% if ticket.seat %}
					<p>座位：{{ ticket.seat }}</p>
				{% else %}
					<a id="seat{{ ticket.unique_id }}">请选座</a>
				{% endif %}
				<button class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#model{{ ticket.unique_id }}">退票</button>
			</div>
		</div>
		<!-- 提交确认框 -->
		<div class="modal fade" id="model{{ ticket.unique_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		   <div class="modal-dialog">
		      <div class="modal-content">
		         <div class="modal-body">
		            确定要退票？
		         </div>
		         <div class="modal-footer">
		            <button type="submit" class="btn btn-danger" id="btn{{ ticket.unique_id }}" data-dismiss="modal">确定</button>
		            <button type="button" class="btn btn-default" 
		               data-dismiss="modal">取消
		            </button>
		         </div>
		      </div>
		  </div>
		</div>
		{% endfor %}
	{% else %}
		<p style="text-align: center; font-weight: bold;">您还没有活动票</p>
	{% endif %}
{% else %}
	<p style="text-align: center; font-weight: bold;">请先绑定账户</p>
{% endif %}
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
  $("li.active").toggleClass("active");
  $("li#nav_ticket").addClass("active");
});
</script>
{% endblock %}

