{% extends "usercenter_base.html" %}

{% load staticfiles %}

{% block content %}
{% if isValidated %}
	{% if tickets_with_activity %}
		{% for activity in tickets_with_activity %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">活动名称：{{ activity.name }}</h3>
			</div>
			<div class="panel-body">
				<p>活动地点：{{ activity.place }}</p>
				<p>活动开始时间：{{ activity.start_time }}</p>
				<p>活动结束时间：{{ activity.end_time }}</p>
			</div>
		</div>
		{% endfor %}
	{% else %}
		<p style="text-align: center; font-weight: bold;">您还没有活动票</p>
	{% endif %}
{% else %}
	<p style="text-align: center; font-weight: bold;">请先绑定账户</p>
{% endif %}
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
  $("li.active").toggleClass("active");
  $("li#nav_ticket").addClass("active");
});
</script>
{% endblock %}

