{% extends "usercenter_base.html" %}

{% load staticfiles %}

{% block content %}
{% if isValidated %}
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#couple_intro" data-toggle="modal">双人抢票&nbsp;
                <span class="glyphicon glyphicon-question-sign"></span>
            </a>
        </li>

       <li class="list-group-item">
            <div class="input-group">
                <span class="input-group-addon">选择活动</span>
                <select class="form-control">
                    {% for aty in aty_canBind %}
                    <option value ="{{ aty.name }}">{{ aty.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">对方令牌</span>
                <input type="text" class="form-control" value="Input token">
            </div>
            <button class="btn btn-default btn-block" style="margin-top: 5px" type="button">确定</button>
       </li>
    </ul>
    <!-- 已绑定双人抢票活动的信息 -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">已绑定活动</h3>
        </div>
        {% if not binds %}
            <p style="text-align: center; font-weight: bold; margin-top: 5px;">暂无</p>
        {% else %}
            {% for bind in binds %}
            <script type="text/javascript">
            $( document ).ready( function() {
                $( '#btn{{ bind.unique_id }}' ).click( function() {
                     $.post("",
                     {
                        unique_id:"{{ bind.unique_id }}"
                     },
                     function(data, status){
                       $( '#div{{ bind.unique_id }}' ).hide();
                     });
                });
            });
            </script>
            <div class="panel-body">
                <div class="panel panel-default" id="div{{ bind.unique_id }}">
                    <div class="panel-body">
                        <p>活动名称：{{ bind.activity.name }}</p>
                        {% if stu_id == bind.active_stu_id %}
                        <p>绑定状态：主动（可抢票）</p>
                        <p>对方学号：{{ bind.passive_stu_id }}</p>
                        {% else %}
                        <p>绑定状态：被动（等待对方抢票）</p>
                        <p>对方学号：{{ bind.active_stu_id }}</p>
                        {% endif %}
                        <p>抢票开始时间：{{ bind.activity.book_start }}</p>
                        <p>抢票结束时间：{{ bind.activity.book_end }}</p>
                        <p>当前剩余票数：{{ bind.activity.remain_tickets }}</p>
                        <button class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#model{{ bind.unique_id }}">解绑</button>
                    </div>
                </div>
            </div>
             <!-- 解绑警告信息 -->
            <div class="modal fade" id="model{{ bind.unique_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-body">
                        是否确定解绑？
                     </div>
                     <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" id="btn{{ bind.unique_id }}" data-dismiss="modal">确定</button>
                        <button type="button" class="btn btn-default"
                           data-dismiss="modal">取消
                        </button>
                     </div>
                  </div>
              </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>


    <div class="modal fade" id="couple_intro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!--模态框，提示双人抢票说明-->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p id="myModalLabel" style="font-weight:bold">
                        双人抢票规则&nbsp;:
                    </p>
                    双人抢票是很复杂滴
                </div>
            </div>
        </div>
    </div>
{% else %}
  <p style="text-align: center; font-weight: bold;">请先绑定账户</p>
{% endif %}
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
  $("li.active").toggleClass("active");
  $("li#nav_2ticket").addClass("active");
});
</script>
{% endblock %}
