{% extends "usercenter_base.html" %}

{% load staticfiles %}

{% block content %}
{% if isValidated %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#couple_intro" data-toggle="modal">双人抢票&nbsp;
                <span class="glyphicon glyphicon-question-sign"></span>
            </a>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" action="{% url 'userpage.views.uc_2ticket_bind' %}" method="post" id="bindForm" onsubmit="return false;">
                {% csrf_token %}
                <div class="input-group" id="activityGroup">
                    <span class="input-group-addon">选择活动</span>
                    <select class="form-control" id="selectActivity" name="activity_name" onblur="checkActivity();">
                        {% for aty in aty_canBind %}
                            <option value="{{ aty.name }}" id="opt{{ aty.name }}">{{ aty.name }}</option>
                        {% endfor %}
                    </select>
                    {% for bind in binds %}
                    <script>
                        var parent = document.getElementById("selectActivity");
                        var child = document.getElementById("opt{{ bind.activity.name }}");
                        parent.removeChild(child);
                    </script>
                    {% endfor %}
                    {% for ticket in tickets %}
                    <script>
                        var parent = document.getElementById("selectActivity");
                        var child = document.getElementById("opt{{ ticket.activity.name }}");
                        parent.removeChild(child);
                    </script>
                    {% endfor %}
                </div>
                <div class="input-group" id="studentIDGroup">
                    <span class="input-group-addon">对方学号</span>
                    <input type="text" class="form-control" id="inputStudentID" placeholder="请输入对方的学号" name="student_id" onblur="checkStudentID();">
                </div>
                <button onclick="ajaxForm();" class="btn btn-default btn-block" id="submitBtn" style="margin-top: 5px">绑定</button>
                <div class="input-group" id="submitGroup">
                    <p class="help-block" id="helpLoading" style="display: none"><img src="{% static 'img/loading.gif' %}">正在认证，请稍候...</p>
                    <p class="help-block" id="helpSubmit"></p>
                </div>
            </form>
        </div>
    </div>


    <script>
	$(document).ready(function(){
	  $("a.a_collapse1").click(function(){
	  	$("a.a_collapse1 span.glyphicon").toggleClass("glyphicon-chevron-down");
	  	$("a.a_collapse1 span.glyphicon").toggleClass("glyphicon-chevron-up");
	  });
      $("a.a_collapse2").click(function(){
        $("a.a_collapse2 span.glyphicon").toggleClass("glyphicon-chevron-down");
	  	$("a.a_collapse2 span.glyphicon").toggleClass("glyphicon-chevron-up");
	  });
	});
	</script>
    <!-- 已绑定双人抢票活动的信息 -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="a_collapse1" data-toggle="collapse" href="#bind_activity_collapse" style="display: block; width: 100%">
          	已绑定活动<span class="glyphicon glyphicon-chevron-down" style="float: right"></span>
        	</a>
        </div>
        <div id="bind_activity_collapse" aria-expanded="false" class="collapse" style="height: 0px;">
        {% if not binds %}
            <p style="text-align: center; font-weight: bold; margin-top: 5px;">暂无</p>
        {% else %}
            {% for bind in binds %}
            <script type="text/javascript">
            $( document ).ready( function() {
                $( '#btn{{ bind.unique_id }}' ).click( function() {
                     $.post("",
                     {
                        unique_id:"{{ bind.unique_id }}"
                     },
                     function(data, status){
                       $( '#div{{ bind.unique_id }}' ).remove();
                       if($('.panel .btn-sm').length == 0) {
                       $('.panel-heading').eq(1).after("<p style='text-align: center; font-weight: bold; margin-top: 5px;'>暂无</p>");
                   }
                     });
                });
            });
            </script>
            <div class="panel-body" id="div{{ bind.unique_id }}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>活动名称：{{ bind.activity.name }}</p>
                        {% if stu_id == bind.active_stu_id %}
                            <p>绑定状态：主动（可抢票）</p>
                            <p>对方学号：{{ bind.passive_stu_id }}</p>
                        {% else %}
                            <p>绑定状态：被动（等待对方抢票）</p>
                            <p>对方学号：{{ bind.active_stu_id }}</p>
                        {% endif %}
                        <p>抢票开始时间：{{ bind.activity.book_start }}</p>
                        <p>抢票结束时间：{{ bind.activity.book_end }}</p>
                        <p>当前剩余票数：{{ bind.activity.remain_tickets }}</p>
                        <button class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#model{{ bind.unique_id }}">解绑</button>
                    </div>
                </div>
            </div>
             <!-- 解绑警告信息 -->
            <div class="modal fade" id="model{{ bind.unique_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-body">
                        是否确定解绑？
                     </div>
                     <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" id="btn{{ bind.unique_id }}" data-dismiss="modal">确定</button>
                        <button type="button" class="btn btn-default"
                           data-dismiss="modal">取消
                        </button>
                     </div>
                  </div>
              </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>

    <!-- 待确认绑定信息 -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="a_collapse2" data-toggle="collapse" href="#not_bind_activity_collapse" style="display: block; width: 100%">
          	待确认绑定信息&nbsp;
            {% ifequal binds_info_len 0 %}
                <span id="binds_info_num" class="badge" style="background-color:#428bca"></span>
            {% else %}
                <span id="binds_info_num" class="badge" style="background-color:#428bca">{{ binds_info_len }}</span>
            {% endifequal %}<span class="glyphicon glyphicon-chevron-down" style="float: right"></span>
        	</a>
        </div>
        <div id="not_bind_activity_collapse" aria-expanded="false" class="collapse" style="height: 0px;">
        {% if not binds_info %}
            <p style="text-align: center; font-weight: bold; margin-top: 5px;">暂无</p>
        {% else %}
            {% for bind in binds_info %}
            <script type="text/javascript">
            $( document ).ready( function() {
                $( '#btn_confirm{{ bind.unique_id }}' ).click( function() {
                     $.post("",
                     {
                        unique_id:"{{ bind.unique_id }}"
                     },
                     function(data, status){
                       $( '#div{{ bind.unique_id }}' ).remove();
                       if($('.panel .btn-sm').length == 0) {
                       $('.panel-heading').eq(1).after("<p style='text-align: center; font-weight: bold; margin-top: 5px;'>暂无</p>");
                   }
                       var num = $('span#binds_info_num').html();
                       num -= 1;
                       if(num != 0) {
                            $('span#binds_info_num').html(num);
                       }
                       else {
                            $('span#binds_info_num').html('');
                       }
                     });
                });
                $( '#btn_cancel{{ bind.unique_id }}' ).click( function() {
                     $.post("",
                     {
                        unique_id:"{{ bind.unique_id }}"
                     },
                     function(data, status){
                       $( '#div{{ bind.unique_id }}' ).remove();
                       if($('.panel .btn-sm').length == 0) {
                       $('.panel-heading').eq(1).after("<p style='text-align: center; font-weight: bold; margin-top: 5px;'>暂无</p>");
                   }
                       var num = $('span#binds_info_num').html();
                       num -= 1;
                       if(num != 0) {
                            $('span#binds_info_num').html(num);
                       }
                       else {
                            $('span#binds_info_num').html('');
                       }
                     });
                });
            });
            </script>
            <div class="panel-body" id="div{{ bind.unique_id }}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>请求绑定方学号：{{ bind.active_stu_id }}</p>
                        <p>请求绑定活动：{{ bind.activity.name }}</p>
                        {% if stu_id == bind.active_stu_id %}
                            <p>确定后的绑定状态：主动（可抢票）</p>
                        {% else %}
                            <p>确定后的绑定状态：被动（等待对方抢票）</p>
                        {% endif %}
                        <button class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#model{{ bind.unique_id }}">处理请求</button>
                    </div>
                </div>
            </div>
             <!-- 处理请求模态框 -->
            <div class="modal fade" id="model{{ bind.unique_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-body">
                        处理绑定请求╮(╯▽╰)╭
                     </div>
                     <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btn_confirm{{ bind.unique_id }}" data-dismiss="modal">确认绑定</button>
                        <button type="submit" class="btn btn-default" id="btn_cancel{{ bind.unique_id }}" data-dismiss="modal">残忍拒绝
                        </button>
                     </div>
                  </div>
              </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>

    <div class="modal fade" id="couple_intro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!--模态框，提示双人抢票说明-->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p id="myModalLabel" style="font-weight:bold">
                        双人抢票规则&nbsp;:
                    </p>
                    <p>
                    1.在抢票开始前选择希望双人抢票的活动<br/>
                    2.输入被绑人令牌，输入者为主动方，被绑人为被动方<br/>
                    3.抢票开始时，主动方能抢票，被动方不能抢票<br/>
                    4.抢票成功即为一张双人票，选座操作主动方被动方均可进行，但一次必须选两个座位<br/>
                    5.抢票成功或抢票结束时绑定自动解除
                    </p>
                </div>
            </div>
        </div>
    </div>
{% else %}
  <p style="text-align: center; font-weight: bold;">请先绑定账户</p>
{% endif %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/tt_2ticket.js' %}"></script>
    <script>
    function ajaxForm() {
        uc_bind2ticket('{{ weixin_id }}');
    }
    $(document).ready(function(){
      $("li.active").toggleClass("active");
      $("li#nav_2ticket").addClass("active");
    });
    </script>
{% endblock %}
