.empty {
    margin: 1px;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,0);
}

.sectionA {
    margin: 1px;
    width: 15px;
    height: 15px;
    background: rgba(240,103,80,0.8);
}

.sectionB {
    margin: 1px;
    width: 15px;
    height: 15px;
    background: rgba(245,176,73,0.8);
}

.sectionC {
    margin: 1px;
    width: 15px;
    height: 15px;
    background: rgba(254,88,127,0.8);
}

.sectionD {
    margin: 1px;
    width: 15px;
    height: 15px;
    background: rgba(155,196,71,0.8);
}

.sectionE {
    margin: 1px;
    width: 15px;
    height: 15px;
    background: rgba(64,178,246,0.8);
}

.sectionF {
    margin: 1px;
    width: 15px;
    height: 15px;
    background: rgba(79,137,190,0.8);
}

.sectionG {
    margin: 1px;
    width: 15px;
    height: 15px;
    background: rgba(212,120,243,0.8);
}

.chosen{
    margin: 1px;
    width: 15px;
    height: 15px;
    background: rgba(77,77,77,1);
}

.seatsTable {
    margin:auto;
    float: left;
    width: 60%;
}


#selectSeat {
    padding: 10px 5px 10px 5px;
    border-collapse: inherit;
    border-spacing: 2px;
}

#infoSet {
    padding: 10px 5px 10px 5px;
    width: 40%;
    float: right;
}

#tbody {
    line-height: 1;
    border-spacing: 5px;
    border-collapse: separate;
}

#clear-float {
    clear:both;
    height: 0px;
}

.input-group {
    margin-top: 10px;
    width: 175px;
}

.form-control {
    padding: 6px 0;
    text-align: left;
}

.right {
    text-align: right;
}

.progress-in-form {
    margin-top: 7px;
    margin-bottom: 0;
}

.form-group.date-input {
    margin-left: 0;
    margin-right: 0;
    width: 13%;
}

.form-group.date-label {
    margin-left: 0;
    margin-right: 0;
    width: 5%;
}

.form-group.date-offset {
    margin-left: 0;
    margin-right: 0;
    width: 3%;
}

.form-group.date-label>label {
    padding-top: 0;
    padding-left: 5px;
}