/**********综体分区**************/
#front
{
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto 20px auto auto;
    width: 60%;
    height: 100%
}
#zongtiPic{
    width: 100%;
    position: relative;
    top: 20px;
}

#middle{
    float: left;
    margin: auto;
    width: 30%;
    height: 100%;
}

#ticket-number{
    width: 100%;
    position: relative;
    top: 20px;
}

#totalTicketsNumber{
    margin: 10px;
    text-align: right;
}

#clear-float {
    clear:both;
    height: 0px;
}

.input-group {
    margin-top: 10px;
    width: 175px;
}

.form-control{
    padding: 6px 0;
    text-align: left;
}

.right {
    text-align: right;
    padding-right: 10px;
}

.progress-in-form {
    margin-top: 7px;
    margin-bottom: 0;
}

.form-group.date-input {
    margin-left: 0;
    margin-right: 0;
    width: 13%;
}

.form-group.date-label {
    margin-left: 0;
    margin-right: 0;
    width: 5%;
}

.form-group.date-offset {
    margin-left: 0;
    margin-right: 0;
    width: 3%;
}

.form-group.date-label>label {
    padding-top: 0;
    padding-left: 5px;
}