.empty {
    margin: 1px;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,0);
}

.valid {
    margin: 1px;
    width: 15px;
    height: 15px;
    background: rgba(112,204,243,0.8);
}

.selected {
    margin: 1px;
    width: 15px;
    height: 15px;
    background: rgba(131,1,47,0.8);
}

#selectSeat {
    padding: 10px 5px 10px 5px;
    border-collapse: inherit;
    border-spacing: 2px;
    float: left;
    width: 70%;
}

#infoSet {
    padding: 10px 5px 10px 5px;
    width: 25%;
}

#tbody {
    line-height: 1;
    border-spacing: 5px;
    border-collapse: separate;
}

#clear-float {
    clear:both;
    height: 0px;
}

.selectThis {
    margin: 1px;
    width: 15px;
    height: 15px;
    background: rgba(248,100,2,0.8);
}

.seatsTable {
    margin:auto;
}

#selectSeat {
    padding: 10px 5px 10px 5px;
}

.progress-in-form {
    margin-top: 7px;
    margin-bottom: 0;
}

.form-group.date-input {
    margin-left: 0;
    margin-right: 0;
    width: 13%;
}

.form-group.date-label {
    margin-left: 0;
    margin-right: 0;
    width: 5%;
}

.form-group.date-offset {
    margin-left: 0;
    margin-right: 0;
    width: 3%;
}

.form-group.date-label>label {
    padding-top: 0;
    padding-left: 5px;
}