div.screen {
    width: 100%;
    padding: 3px, 0px;
    background: #d7d7d7;
    text-align: center;
}

.seatsTable td {
    border-radius: 3px;
}

.empty {
	width: 15px;
	height: 15px;
	background: #ffffff;
}

.valid {
	width: 15px;
	height: 15px;
	background: #3d82bc;
}

.selected {
	width: 15px;
	height: 15px;
	background: #cb4e4a;
}

.selectThis {
	width: 15px;
	height: 15px;
	background: #55a955;
}

.activityTime {
	text-align: center;
	font-size: 12px;
	padding: 10px 5px 0px 5px;
}

#submitForm {
	text-align: center;
	padding: 10px 5px 0px 5px;
}

.seatsTable {
	margin:auto;
}

#showSelection {
	text-align: center;
	font-size: 12px;
}

.num {
	font-size: 18px;
	color: #cb4e4a;
}

#selectSeat {
	padding: 10px 5px 10px 5px;
}

#alert {
	font-size: 12px;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 14px;
}

#tableContainer {
	height: 150px;
	width: 80%;
	overflow: scroll;
}

#showNumToSelect {
	text-align: center;
	font-size: 12px;
}

#submitButton {
    color: #333;
    background-color: #fff;
    border-color: #ccc;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}