div.screen {
    margin-top: 16px;
    width: 86%;
    padding: 5px 0px;
    text-align: center;
    background-color: #a6a6a6;
    color: white;
    font-weight: bold;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#moveableDiv {
    position: relative;
}

.seatsTable td {
    border-radius: 3px;
}

.empty {
	width: 15px;
	height: 15px;
	background: #ffffff;
}

.valid {
	width: 15px;
	height: 15px;
    border: 1px solid #3d82bc;
}

.selected {
	width: 15px;
	height: 15px;
	background: #cb4e4a;
}

.selectThis {
	width: 15px;
	height: 15px;
	background: #55a955;
}

.activityTime {
	text-align: center;
	font-size: 12px;
	padding: 10px 5px 0px 5px;
}

#submitForm {
	text-align: center;
	padding: 10px 5px 0px 5px;
    margin-bottom: 20px;
}

.seatsTable {
	margin:auto;
}

#showSelection {
	text-align: center;
	font-size: 12px;
}

.num {
	font-size: 18px;
	color: #cb4e4a;
}

#selectSeat {
	padding: 10px 5px 10px 5px;
}

#alert {
	font-size: 12px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 14px;
}

#tableContainer {
    height: auto;
	width: 86%;
	overflow: hidden;
    background-color: #f5f5f5;
    border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#showNumToSelect {
	text-align: center;
	font-size: 12px;
}

input[type="submit"] {
    margin-top: 8px;
	background-color: #55a955;
	color: #fff;
	border: 1px solid #55a955;
	width: 70%;
    height: 28px;
	font-size: 14px;
	border-radius: 6px;
    font-weight: bold;
    letter-spacing:8px;
}


.seatHeader {
	padding: 5%;
}

.act_info {
	float: left;
}

.act_title {
	font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
    word-break: break-all;
}

#submit_btn {
	float: right;
    margin-top: 6%;
	margin-right: 4%;
	background-color: #55a955;
	color: #fff;
	border: 1px solid #55a955;
	width: 20%;
    height: 30px;
	font-size: 16px;
	border-radius: 6px;
    font-weight: bold;
}

.act_place, .act_time {
    font-size: 12px;
}

#submit_btn:disabled {
    float: right;
    margin-right: 4%;
    margin-top: 6%;
	background-color: #a6a6a6;
	color: #fff;
	border: 1px solid #a6a6a6;
	width: 20%;
    height: 30px;
	font-size: 16px;
	border-radius: 6px;
    font-weight: bold;
}
.clear_float {
    clear:both;
    height: 0px;
}
