.details-wrapper{
    text-align: center;
    padding-bottom: 5px;
}
.panel {
    margin: 20px 20px 0 20px;
}
.panel-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    font-family:"微软雅黑","黑体","宋体";
}

img{
    width: 25%;
}
.status-size{
    font-size: 18px;
}
.ticket-invalid{
   color: #e63a31;
}
.ticket-valid{
   color: #428bca;
}
.ticket-used{
    color: #222;
}
.img-caption{
    text-align: center;
    padding-top: 3px;
}
.clickToSelect {
    text-align: center;
    color: #428bca;
    font-size: 14px;
    text-decoration: underline;
}
.emphasize {
    font-weight: bold;
}
