.details-wrapper{
    text-align: center;
    padding-bottom: 5px;
}

.panel-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

img{
    width: 25%;
}
.status-size{
    font-size: 18px;
}
.ticket-invalid{
   color: #e63a31;
}
.ticket-valid{
   color: #35b63e;
}
.ticket-used{
    color: #ff7844;
}
.img-caption{
    text-align: center;
    padding-top: 3px;
}
.clickToSelect {
    text-align: center;
    color: #e63a31;
    font-size: 14px;
    text-decoration: underline;
}
.emphasize {
    font-weight: bold;
}
